@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

body,
*::after,
*::before {
  font-family: 'Special Elite', cursive;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}